# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/media/
staticfiles/

# Migrations cache
*/migrations/__pycache__/

# Virtual environments
env/
venv/
rango/
anaconda3/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db